body{
	background-image: url("../IMG/F2.jpeg");
	background-size: 1400px 800px;
	background-repeat: no-repeat;

}
*{
font-family: Century Gothic, sans-serif;
}
nav ul {
font-size: 0;
padding: 10%;
width: 90%;
}
nav ul li {
background:rgba(0,0,0,.5);
display: inline-block;
font-size: 16px;
height: 50px;
line-height: 50px;
margin: 0 auto;
padding: 10px 0;
vertical-align: top;
width: 30%;
}
nav ul li:hover{
background:rgba(0,0,120,0.25);
}
nav ul li img {
display: block;
height: 125px;
margin: 0 auto;
width: 132px;
}
nav ul li a {
font-family: VeganStyle;	
color: Green;
display: block;
font-weight:bold;
text-align:center;
text-decoration: none;
text-transform: uppercase;
}
nav ul li a:hover {
color: Grey;
}

.img{
	border-radius: 50%;
}