*{
font-family: Century Gothic, sans-serif;
}
body{
	background-image: url("../IMG/F1.jpeg");
	background-size: 1400px 800px;
	background-repeat: no-repeat;
	opacity: 0,7;
}
 .Datos{
 	color: grey;
 	background-color: skyblue;
 	opacity: 0.7;
 	text-align: center;
 }

 .Datos p{
 	font-size: 30px;
 }


.enunciado1 p{
color: black;
 	background-color: #1CC23D;
 	opacity: 0.7;
 	text-align: center;
	font-size: 25px;
}

 .enunciado2 img{
 	margin:10px auto;
	display:block;
 	height: 35%;
 	width: 35%;
 }